@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 768px) {
  .navBarWrap {
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
  }

  .brandRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0;
  }

  .heroSection {
    background-image: linear-gradient(
        89.85deg,
        #000000 0.13%,
        #000000 0.14%,
        rgba(0, 0, 0, 0.5) 99.56%
      ),
      url("../assets/background.jpg");
  }

  .containerSectionTitle h2{
    max-width: 302px;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing:0.2px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .containerSectionTitle p{
    max-width: 308px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing:0.2px;
    margin: 0 auto;
    margin-bottom: 20px;

  }


  .logoText {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  .iconGroup {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .navIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    object-fit: contain;
  }

  .navBar {
    display: none;
  }

  .authButtons {
    display: none;
  }
  .headingWrap {
    padding-top: 50px;
  }
  .heroHeading {
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2px;
    
    margin-bottom: 40px;
    max-width: 314px;
  }

  .heroSubtext {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.2px;
    font-weight: 500;
    text-align: center;
    max-width: 279px;
    margin-bottom: 40px;
  }

  .heroButtons {
    flex-direction: column;
    align-items: center;
  }

  .btnPrimary,
  .btnSecondary {
    width: 100%;
    max-width: 185px;
    padding: 12px 24px;
    margin-bottom: 25px;
  }
  .btnSecondary {
    color: #23a6f0;
    border: 2px solid #23a6f0;
  }

  .featuresSection {
    padding: 80px 20px;
    height: auto;
  }

  .featuresGrid {
    flex-direction: column;
    gap: 40px;
  }

  .featureItem img {
    width: 64px;
    height: auto;
  }
  .featureItem p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    max-width: 234px;
    margin-bottom: 40px;
  }

  .testimonialGrid {
    flex-direction: column;
    align-items: center;
  }

  .testimonialCard {
    width: 100%;
    max-width: 325px;
    padding: 40px 20px;
    align-items: start;
  }

  .userImageWrap {
    display: none;
  }

  .testimonialContent {
    align-items: start;
    text-align: left;
    
  }
  .testimonialContent p{
    margin: 0;
    margin-bottom: 15px;
  }
  .testimonialContent img{
    margin-bottom: 15px;
  }
  .testimonialContent h3{
    text-align: left;
  }

  .message p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    max-width: 239px;
    text-align: left;
  }


  .projectGrid {
    flex-direction: column;
    align-items: center;
  }

  .projectCard {
    width: 100%;
    max-width: 320px;
    height: auto;
    max-height: 450px;
  }

  .vedant{
    width: 330px;
    height: 450px;
  }

  .consultingContent {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .contactBtn {
    width: 100%;
    max-width: 300px;
    padding: 12px 24px;
  }

  .footerGrid {
    flex-direction: column;
    gap: 32px;
  }

  .footerBottomContent {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  .socialIcons img {
    margin-left: 0;
    margin-right: 12px;
  }
  .footerColumn{
    margin: 0 auto;
  }
}
