body{
    font-family:'DM Sans',sans-serif;
}


.logo{
    width: 106px;
    height: 22px;
    margin-top: 30px;
    font-size: 24px;
}
.signup{
    width: 111px;
    height: 40px;
}

.container-1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
h1{
    text-transform: capitalize;
    font-size: 59px;
    font-weight: 700;
    line-height: 70px;
    width: 714px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.container-2 p{
    text-align: center; 
    width: 625px;
    height: 96px;
    font-size: 22px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    color: #8c8c99;
}
.container-2 a{
    
    margin-left: auto;
    margin-right: auto;
}

.navigation-1{

    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 352px;
    height: 22px;
    margin-top: 30px;
    
}
.navigation-1 li{
     
    font-size: 16px;
    margin: 10px;
    color: #8c8c99;
}
.navigation-2{
    list-style: none;
    display: flex;
}

.navigation-2 li{
    margin: 20px;
    color: #25DAC5;
    font-weight: 500;
}
.navigation-2 a{
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    padding: 20px;
    background-color: #25DAC5;
    color: white;
    text-align: center;
    justify-content: center;
    width: 64px;
    height: 26px;
}

.cards img{
    height: 110px;
    width: 170px;
    border-radius: 10px;
}

.cards p{
    font-size: 18px;
    height: 84px;
    width: 228px;
}

.cards{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.c1,
.c2,
.c3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.c2,
.c1,
.c3 img{
    align-items: center;
    
    
}

.create a{
    display: block;
    text-align: center;
    width: 178px;
    height: 26px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color:  #E93A7D;
    padding: 20px;
    border-radius: 999px;
    margin-bottom: 100px;

}

.text{
    margin-bottom: 0 0 50px 0;
}

.text p{
    margin-bottom: 50px;
}
.cards img{
    align-items: center;
}