* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}
.headerSection {
  background-color: #74c69d;
  margin-bottom: 35px;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
.navList {
  display: flex;
  gap: 30px;
  list-style: none;
}
.navList a {
  text-decoration: none;
  font-family: "work sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #ffffff;
}
.navList li a:hover {
  color: #000000;
}
.scrollBar {
  display: none;
}
.partners h4 {
  text-align: center;
  font-family: "work sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 5px;
  color: #74c69d;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.partners h2 {
  text-align: center;
  font-family: "crimson text", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  margin-bottom: 15px;
  color: #000000;
}
.partnersPara p {
  text-align: center;
  font-family: "work sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #000000;
}
.partners {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.card {
  padding: 46px 30px;
  border: 1px black solid;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 339px;
}
.priceCard h4 {
  font-family: "work sans", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0px;
}
.pricing h2 {
  font-family: "work sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
}
.pricing h4 {
  font-family: "work sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #21252980;
  padding: 15.5px 0;
  padding-left: 9px;
}
.pricing {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}
.pricePara p {
  font-family: "work sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #21252980;
  text-align: center;
  margin-bottom: 52px;
}
.benefit {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  gap: 11px;
}
.rightIcon{
    padding-top: 3px;
    padding-right: 11px;
}
.containerThree {
  display: flex;
  justify-content: space-between;
  margin-bottom: 135px;
}

.footer {
  background-color: #74c69d;
}
.socialMediaIcons {
  display: flex;
  gap: 20px;
}
.socialMediaIcons li {
  list-style: none;
}
.serviceBenefits{
    margin-bottom: 45px;
}
.containerSix {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.footerPara p {
  font-family: "work sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #ffffff;
}
.benefit h5{
    font-family: "work sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 125%;
    letter-spacing: 0px;
    color: #212529;
  }
  
.learnMoreButton {
  text-align: center;
  background-color: #000000;
  padding: 13px 30px;
  border-radius: 5px;
  max-width: 171px;
  margin: 0 auto;
}
.learnMoreButton a {
  text-decoration: none;
  font-family: "work sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #ffffff;
}
.learnMoreButton:hover{
    background-color: #74C69D;
}
